{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
		
        <ul class="list-group" style="max-height: 200px; max-width:100; overflow: off;" >
            {% for category, classification in classification_result.items() %}

                  	{% if loop.index % 4 == 0 %}
                      <a class="list-group-item col-sm-3" href="#">
                        {% if classification == 1 %}
                            <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                        {% endif %}
                  	  </a>
                  	{% endif %}

                    {% if loop.index % 4 == 1 %}
                      <div class="list-group-item col-sm-3">
                        {% if classification == 1 %}
                            <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                        {% endif %}
                  	  </div>
                  	{% endif %}
                  
                  	{% if loop.index % 4 == 2 %}
                      <div class="list-group-item col-sm-3">
                        {% if classification == 1 %}
                            <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                        {% endif %}
                  	  </div>
                  	{% endif %}
                  
                  	{% if loop.index % 4 == 3 %}
                      <div class="list-group-item col-sm-3">
                        {% if classification == 1 %}
                            <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                        {% endif %}
                  	  </div>
                  	{% endif %}

            {% endfor %}
        </div>
        
    </div>

{% endblock %}